.search-page {
  padding: 20px;
}

.query-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
}

.search-result-list {
  list-style: none;
  padding: 0;
}

.search-result-list li {
  margin-bottom: 10px;
}
